:root{
	--primary: #337AB7;
	--secondary: #2C373B;
	--info: #5BC0DE;
	--dark: #2C373B;
	--success: #5CB85C;
	--warning: #F0AD4E;
	--error: #D9534F;
}

/* COR DE FUNDO POR CLASSES */

.primary{
	background: var(--primary) !important;
}
.secondary{
	background: var(--secondary) !important;
}
.info{
	background: var(--info) !important;
}
.dark{
	background: var(--dark) !important;
}
.success{
	background: var(--success) !important;
}
.warning{
	background: var(--warning) !important;
}
.error{
	background: var(--error) !important;
}

/* CANTOS ARREDONDADOS */

.rounded-0{
	border-radius: 0;
}
.rounded-1{
	border-radius: 2px;
}
.rounded-2{
	border-radius: 4px;
}
.rounded-3{
	border-radius: 8px;
}
.rounded-4{
	border-radius: 16px;
}
.tl-rounded-0{
	border-top-left-radius: 0 !important;
}
.tr-rounded-0{
	border-top-right-radius: 0 !important;
}
.bl-rounded-0{
	border-bottom-left-radius: 0 !important;
}
.br-rounded-0{
	border-bottom-right-radius: 0 !important;
}

/* LARGURAS */

.w-full{
	width: 100%;
}