
/* MARGENS */

.ml-auto{  /*coloca margem automatica*/
	margin-left: auto;
}
.mr-auto{  /*coloca margem automatica*/
	margin-right: auto;
}
.m-0{  /*tira margem de todos os lados*/
	margin: 0;
}
.mt-0{   /*top*/
	margin-top: 0;
}
.mr-0{	/*right*/
	margin-right: 0;
}
.mb-0{ /*bottom*/
	margin-bottom: 0;
}
.ml-0{ /*left*/
	margin-left: 0;
}
.m-1{  /*adiciona margem de todos os lados*/
	margin: 4px;
}
.mt-1{   /*top*/
	margin-top: 4px;
}
.mr-1{	/*right*/
	margin-right: 4px;
}
.mb-1{ /*bottom*/
	margin-bottom: 4px;
}
.ml-1{ /*left*/
	margin-left: 4px;
}
.m-2{  /*adiciona margem de todos os lados*/
	margin: 8px;
}
.mt-2{   /*top*/
	margin-top: 8px;
}
.mr-2{	/*right*/
	margin-right: 8px;
}
.mb-2{ /*bottom*/
	margin-bottom: 8px;
}
.ml-2{ /*left*/
	margin-left: 8px;
}
.m-3{  /*adiciona margem de todos os lados*/
	margin: 12px;
}
.mt-3{   /*top*/
	margin-top: 12px;
}
.mr-3{	/*right*/
	margin-right: 12px;
}
.mb-3{ /*bottom*/
	margin-bottom: 12px;
}
.ml-3{ /*left*/
	margin-left: 12px;
}
.m-4{  /*adiciona margem de todos os lados*/
	margin: 16px;
}
.mt-4{   /*top*/
	margin-top: 16px;
}
.mr-4{	/*right*/
	margin-right: 16px;
}
.mb-4{ /*bottom*/
	margin-bottom: 16px;
}
.ml-4{ /*left*/
	margin-left: 16px;
}

/* PADDINGS */

.p-0{  /*tira margem de todos os lados*/
	padding: 0;
}
.pt-0{   /*top*/
	padding-top: 0;
}
.pr-0{	/*right*/
	padding-right: 0;
}
.pb-0{ /*bottom*/
	padding-bottom: 0;
}
.pl-0{ /*left*/
	padding-left: 0;
}
.p-1{  /*adiciona margem de todos os lados*/
	padding: 4px;
}
.pt-1{   /*top*/
	padding-top: 4px;
}
.pr-1{	/*right*/
	padding-right: 4px;
}
.pb-1{ /*bottom*/
	padding-bottom: 4px;
}
.pl-1{ /*left*/
	padding-left: 4px;
}
.p-2{  /*adiciona margem de todos os lados*/
	padding: 8px;
}
.pt-2{   /*top*/
	padding-top: 8px;
}
.pr-2{	/*right*/
	padding-right: 8px;
}
.pb-2{ /*bottom*/
	padding-bottom: 8px;
}
.pl-2{ /*left*/
	padding-left: 8px;
}
.p-3{  /*adiciona margem de todos os lados*/
	padding: 16px;
}
.pt-3{   /*top*/
	padding-top: 16px;
}
.pr-3{	/*right*/
	padding-right: 16px;
}
.pb-3{ /*bottom*/
	padding-bottom: 16px;
}
.pl-3{ /*left*/
	padding-left: 16px;
}
.p-4{  /*adiciona margem de todos os lados*/
	padding: 32px;
}
.pt-4{   /*top*/
	padding-top: 32px;
}
.pr-4{	/*right*/
	padding-right: 32px;
}
.pb-4{ /*bottom*/
	padding-bottom: 32px;
}
.pl-4{ /*left*/
	padding-left: 32px;
}