.row{
    display: flex;
    min-width: 100%;
}
/*alinha horizontalmente*/
.justify-right{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
/*alinha verticalmente*/
.align-center{
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.col{
    flex: 1;
}
.col-1{
    width: 25%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 75%;
}
.col-4{
    width: 100%;
}